<phpunit bootstrap="bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="UnitTests">
            <directory>Unit</directory>
        </testsuite>
        <testsuite name="IntegrationTests">
            <directory>Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
